/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Inter Tight', sans-serif;
}

.container {
    padding: 56px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}