/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter Tight', sans-serif;
    color:#243e63;
    letter-spacing: 2px;
}

body{
    margin: 0;
    
}
.container {
    padding: 20px 0;
    margin: 70px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

figure {
    all: unset;
    display: flex;
}

section {
    padding : 0 10px;
}
.purple {
    color:#6415ff;
}


p{
    color:#a0aec0;
    line-height: 1.5;
    letter-spacing: 0.6px;
}


.btn {
    background-color: #6415ff;
    color:white;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    transition: all 300ms ease;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color:#5525b6;
    cursor: pointer;
}

.section__title {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color:#6415ff;
    margin: 10px 0;
}

.section__heading {
    font-size: 42px;
    font-weight: 800;
    text-align: center;
    margin: 20px 0;
    
}

.section__p {
    text-align: center;
    font-size: 16px;
    margin: 0 0 20px 0;
}

/* Navigation styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.nav__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 200px;
    
}
     

.nav__img {
    width: 28%;
    padding: 0 7px;
}

.nav__logo--name {
    color:#243e63;
    font-weight: 800;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    list-style: none;
    padding-left: 188px;
   
}

.nav__links--right {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 24px;
}


.nav__link {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;

}

.nav__link a{
    text-decoration: none;
    color: #243e63;
}

/* Landing page styles */

#landing {
    display: flex;
    padding: 0 24px;
}

.landing__content {
    padding: 25px 0;
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    width: 60%;
    gap: 6px;
}
.landing__heading {
    font-size: 38px;
}

.landing__p {
    letter-spacing: 1.5;
    font-size: 16px;
    color:#243e63;
}

.landing__sign-up--wrapper{
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;}

.landing__sign-up{
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

.landing__sign-up::placeholder {
    color: rgb(161, 165, 170);
    font-size: 16px;
    font-weight: 500;
}

.landing__sign-up:hover {
    border-color: rgb(160, 174, 192);
}
.landing__sign-up:focus {
    outline: none;
    border-color: rgb(100, 21, 255);
}

.landing__btn {
    z-index: 2;
    margin: 8px;
    height: calc(100% - 16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    transition: all 300ms ease;
}

.landing__btn:hover {
    background-color: #5525b6;
    cursor: pointer;
}


.landing__customer--heading {
    padding-top: 50px;
    font-size: 12px;
    color: rgb(161, 165, 170);
    font-weight: 700;
    opacity: 0.7;
}

.landing__customers{
    opacity: 0.5;
    width: 50%;
}

.landing__img--wrapper {

    width: 50%;
}

.landing__img {
    width: 100%;
}


/* Features */

#features {
    display: flex;
    align-items: center;
    justify-content: center;

}


.features__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 32px;
    height: 100%;
    padding: 20px;
    max-width: 1200px;
    
    
}

.feature__wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: fit-content;
    padding: 20px 0;
    gap: 24px;
}

.feature__icon--wrapper {
    border: 1px solid #dee2e7;
    height: 42px;
    width: 40px;
    padding: 30px;
    margin: 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;

}

.feature__heading {
    margin: 2px;
}

.feature__p {
    margin-top: 10px ;
}

/* Quality Work */

#quality__work {
    max-width: 2400px;
}

.quality__work--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width:fit-content;
    padding: 0 10px;
}

.quality__work--para {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    margin: 17px 0;
    padding-right: 30px;
    font-size: smaller;
}

.learn__btn {
    width: 30%;
}
.quality__work--img-wrapper {
    width: 50%;
    margin-left: 26px;
}

.quality__work--img {
    width: 80%;

}

.left {
    text-align: left;
}

.margin {
        margin: 10px 2px 0 0;
}

/* STEPS */

#steps {
    margin-top: 22vh;
    max-width: 1200px;
    
}

.steps__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__img--wrapper{
    width: 100%;
}

.steps__img {
    width: 80%;
}

.steps__desc--wrapper {
    display: flex;
    gap: 20px;
}

.steps__numb--wrapper {
    display: flex;
    align-items:center;
    justify-content: center;
}

.steps__numb{
    font-size: 32px;
    padding-bottom: 50px;
    margin: 0;
    font-weight: 700;
    color:#a0aec0;
    opacity: 0.4;
}

.steps__heading {
    margin: 0;
    font-size: 18px;
    color:#243e63;
}

.steps__p {
    font-size: 14px;
    margin: 10px 0;
}

/* Values */

.values__wrapper {
    display:flex;
    max-width: 1200px;
    justify-content: space-between;
    gap: 10rem;

}

.value__reason {
    display: flex;
    justify-content: space-between;
    gap:3rem;
    margin-bottom: 15px;
}

.value__icon--wrapper {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    margin: 0;
}

.value__icon {
    border: 2px solid black;
    border-radius:50px;
    padding: 15px;
    margin: 0;
    width: 60px;
    height: 60px;
    font-size: 10px;
    transform: scale(0.6);
}

.dollar {
    background-color: #9ae6b4;
    
}

.case{
    background-color: #feb2b2;
}

.value {
    width: 80%;
}



.section__img {
    width: 90%;
}



/* Pricing */



.pricing__cards{
   display: flex;
   width: 100%;
   max-width: 2400px;
   justify-content: space-between;
   align-items: center; 
   gap: 2rem;
   padding-top: 30px;
  
}

.pricing__card{
    position: relative;
    border: #dee5ee 2px solid;
    width: 100%;
    height: 100%;
    text-align: center; 
    border-radius: 8px;
    color: black;
}

.price__border{
   position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 0.5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.price__heading {
    font-size: 16px;
    padding: 10px 0
}

.price__p {
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
}

.price__wrapper {  
    font-size: larger;
    border-bottom: #dee5ee 2px solid;
    padding: 15px;
    line-height: 0.8;
}

.price__list--wrapper {
    padding: 20px 0;
}

.price__list--heading{
    margin: 10px 0;
}

.price__list {
    padding: 20px 0 ;
    border-bottom: #dee5ee 2px solid;
    margin: 7px;
}

.list__item {
    list-style: none;
    line-height: 2.5;
    font-size: 14px;
    color:#718096;
}

.white-words {
    color: white;
}

.price__button--wrapper {
    padding: 15px;
}

.price__button{
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    border: none; 
    cursor: pointer;
    font-weight: bold;
}

.price__button:hover {
  transform: translate(2px, -2px);
  box-shadow: 0px 6px 20px 0px  #a0aec0;
  transition: all 300ms ease;

}

.teal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
}

.blue {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    color: white;
   
} 

.white {
    color: #6415ff;
    background-color: white;
}

.rose {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: white;
}


/* Testimonials */

.testimonials__wrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 2400px;
    width: 100%;
    height: 100%;
}

.testimonials__img--wrapper{
    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.testimonials__img{
    width: 85%;
}

.testimonials__desc--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.test__p{
    font-size: 18px;
}

.star__list {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
    gap: 7px;
}

.item {
    list-style: none;

}

.review__title {
    margin: 10px 0;
}

.review__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
}

.reviewer__img--wrapper {
    width: 25%;
    height: 20%;
}

.reviewer__img {
    width: 100%;
    border-radius: 50%;
    transform: scale(0.8); 
}

.reviewer__name--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reviewer__name{
    margin: 5px 0;
}

.reviewer__title {
    margin: 0;
}

.review__arrows {
    display: flex;

}

.arrow{
    background: #edf2f7;
    color:#6415ff;
    padding: 15px;
    margin: 0 15px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.arrow:hover {
    background: #dddee0bb;
    transition: all 300ms ease;
}


/* Get started */

.get__started--wrapper {
    background-color: #6415ff;
    width: 100%;
    max-width: 1200px;
    padding: 55px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
}

.get__started--heading{
    font-size: 26px;
    text-align: left;
    width: 50%;
}

.get__started--btn__wrapper {
    margin-left: 40px;
}


.get__started--btn {
    margin-left: 20px;
    padding: 15px 32px;
    border-radius: 50px;    
}

.orange {
    background-color: #f56565;
}

.orange:hover {
    background-color: #ea5050;
}

.purple--btn {
    border: 0.5px solid white;
}

.purple--btn:hover {
    color: #6415ff;
    background-color: white;
}

/* Footer */

footer{
    background: #6415ff;
    color: white;
    margin: 0;
    top: 0;
    left: 0;
    padding: 0;

}

.footer__list--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 1.5;
    padding: 40px 0 40px 0;
    width: 100%;
    max-width: 1200px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    margin: 0 20px;
    font-size: 12px;
    
}

.footer__item {
    list-style: none;
}

.footer__item a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.footer__item a:hover {
    text-decoration: underline;
}

.footer__social--wrapper{
    border-top: 2px solid rgba(255, 255, 255, 0.37);
    padding: 10px 0;
    margin: 0px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
}

.footer__logo{
    width: 75%; 
}

.footer__img--wrapper{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__logo--p{
    color: white;
    font-weight: 800;
}

.copyright {
    color: white;
    font-size: 14px;
}

.footer__social--links__wrapper{
    width: 20%;
}

.footer__social--links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.social--link{
    padding: 7px;
    border: none;
    border-radius: 20px;
    background-color: white;
    color:#243e63;
    transform: scale(0.8);
    margin: 0 4px;
}

.social--link:hover {
    background: rgb(167, 189, 228);
    transition: all 300ms ease;
}
.footer__container{ 
    margin: 0;
    margin-top: 20px;
}