/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

html {
    scroll-behavior: smooth;
    font-family: 'Inter Tight', sans-serif;
}

.container {
    padding: 20px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

figure {
    all: unset;
    display: flex;
}

/* Navigation styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 24px;
}

.nav__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: end;
    max-width: 200px;
    
}
     

.nav__img {
    width: 20%;
    padding: 0 7px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
    padding-left: 28%;
   
}

.nav__links--right {
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.nav__link {
    font-size: 16px;
    font-weight: 600;
}

.nav__link a{
    text-decoration: none;
    color: #243e63;
}

.btn {
    background-color: #6415ff;
    color:white;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    transition: all 300ms ease;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color:#5525b6;
    cursor: pointer;
}
